.resmain {
  display: flex;
  flex-direction: column;
}
h3 {
    font-size: 18px;
    text-align: center;
  }
  
.resbutton {
  background-color: #1686d9;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin: 10px 0;
  display: inline-block;
}

.loginlink {
  text-decoration: none;
  color: #1686d9;
}

.loginlink:hover {
  text-decoration: underline;
}
